img{
    width:100%;
    height:auto;
}
.parent{
    width:100%
}
.son{
    width:50%;
    float:left;
}
.daughter{
    width:50%;
    float:right;
}
h1{
    background-color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
}
body{
    background-color: blueviolet;
    color:bisque
}

/*mobile devices*/
@media (min-width:320px) and (max-width:480px){
h1{
    background-color:cornflowerblue;
    color:black;
}
.son{
    width:100%
}
.daughter{
    width:100%
}
.son p{
    width:100%
}
.daughter img{
    width: 100%;
    height: auto;
}
}
/*tablet devices*/
@media (min-width:481px) and (max-width:768px){
    h1{
        background-color:goldenrod;
        color:black;
    }
    .son{
        width:100%
    }
    /*.daughter{
        width:100%
    }
    .son p{
        width:100%
    }
    .daughter img{
        width: 100%;
        height: auto;
    }*/
}
/*laptop devices*/
@media (min-width:769px) and (max-width:1024px){
    h1{
        background-color:lightcoral;
        color:black;
    }
    .son{
        width:100%
    }
    .daughter{
        width:100%
    }
    .son p{
        width:100%
    }
    .daughter img{
        width: 100%;
        height: auto;
    }  
}
